/Clients/PC/gesty/target/
/Clients/PC/RepasoExamenPSP/nbproject/private/
/Clients/PC/RepasoExamenPSP/build/
/Clients/PC/JavierGarcia/nbproject/private/
/Clients/PC/JavierGarcia/build/
/Clients/PC/GestY/nbproject/private/
/Clients/PC/GestY/build/
/Clients/PC/GestY/target/
/.vscode
